* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f0f0f;
  color: #ffffff;
}

.container {
  display: flex;
  min-height: 100vh;
}


.sidebar {
  width: 260px;
  background: #1a1a1a;
  padding: 20px;
  text-align: center;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.role {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
}

.info {
  list-style: none;
  margin-bottom: 20px;
}

.info li {
  margin: 8px 0;
  font-size: 14px;
}

.social a {
  display: block;
  color: #ffcc00;
  text-decoration: none;
  margin: 5px 0;
  transition: 0.3s;
}

.social a:hover {
  color: #ffffff;
}


.content {
  flex: 1;
  padding: 30px;
}

.navbar {
  margin-bottom: 30px;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: #bbb;
  font-weight: 500;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #ffcc00;
}

section {
  margin-bottom: 50px;
}

h1, h2 {
  margin-bottom: 15px;
  color: #ffcc00;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  transition: 0.4s;
  transform: translateY(20px);
  opacity: 0;
}

.card.show {
  transform: translateY(0);
  opacity: 1;
}

.card:hover {
  background: #292929;
  transform: scale(1.05);
}