body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(to right, #0f0f0f, #1c1c1c);
  color: white;
}

h1 {
  margin: 25px 0;
  font-size: 2.2rem;
  letter-spacing: 2px;
  color: #ff4500;
}

.filters {
  margin-bottom: 25px;
}

.filters button {
  padding: 10px 20px;
  margin: 8px;
  border: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.filters button:hover {
  background: #ff4500;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
}

.image-box {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.image-box img {
  width: 100%;
  gap:50;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease;
}

.image-box img:hover {
  transform: scale(1.1);
}


.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  width: 70%;
  max-width: 600px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 30px;
  background: rgba(255,255,255,0.2);
  border: none;
  padding: 15px;
  cursor: pointer;
  color: white;
  border-radius: 50%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
}

.gallery.three-column {
  grid-template-columns: repeat(3, 1fr);
}
 
.image-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.prev { left: 30px; }
.next { right: 30px; }
